@font-face {
  font-family: 'Campton';
  src: url("../fonts/Rene_Bieder-Campton_Medium.otf?") format("opentype"); }

@font-face {
  font-family: "John Baskerville Bold";
  src: url("../fonts/272507-baskerville-10-pro-bold/Baskerville10Pro-Bold.otf") format("opentype"); }

@font-face {
  font-family: "John Baskerville Medium";
  src: url("../fonts/272511-baskerville-10-pro-medium/Baskerville10Pro-Medium.otf") format("opentype"); }

@font-face {
  font-family: "John Baskerville Regular";
  src: url("../fonts/272514-baskerville-120-pro-regular/Baskerville120Pro.otf") format("opentype"); }

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 84px;
  line-height: 92.6px;
  letter-spacing: 8.15px; }

.all-caps {
  text-transform: uppercase; }

header {
  box-shadow: 0px 10px 10px rgba(32, 59, 106, 0.2);
  z-index: 100;
  font-family: Campton;
  font-size: 64px;
  font-weight: bold;
  font-size: 14px;
  line-height: 90px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  color: #203B6A;
  vertical-align: middle; }
  header a {
    color: black; }
  header .blue-arrow-header {
    background-color: #fff;
    height: 100px; }
  header .blue-arrow-header-container {
    width: 100%; }
  header .blue-arrow-header-logo {
    width: 15%;
    height: 100px;
    vertical-align: middle;
    float: left;
    background: url("../img/ba_logo-01.svg") no-repeat center center; }
  header .blue-arrow-header-links {
    width: 70%;
    height: 50px;
    float: left; }
  header .blue-arrow-competition-entry-cfa {
    background: url("../img/ticket_bg-18.svg") repeat-y 0 0;
    background-color: #203B6A;
    color: #FFFFFF;
    width: 15%;
    height: 100px;
    float: left; }
    header .blue-arrow-competition-entry-cfa a {
      margin-left: 15px;
      vertical-align: middle;
      display: inline-block;
      font-size: 14px;
      line-height: 20.6px;
      letter-spacing: 1.92px; }

.blue-arrow-footer-container {
  width: 100%;
  background-color: #fff;
  height: 70px; }

.info {
  font-size: 28px;
  line-height: 35.6px;
  letter-spacing: 3.64px;
  height: 600px; }

.rotate-90 {
  overflow: visible;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  transform: rotate(90deg) translate(0, -100%); }

a, a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: none; }

.blue-arrow-slogan {
  width: 100%;
  height: 20px; }

.blue-arrow-body-container {
  padding-right: 10%;
  padding-left: 10%; }

.blue-arrow-body-header-container {
  height: 400px;
  width: 600px;
  padding-right: 10%;
  padding-top: 25px;
  padding-bottom: 25px; }

.blue-arrow-body-topic-container {
  height: 340px;
  width: 100%; }

.blue-arrow-body-header {
  font-size: 64px;
  float: left;
  width: 300px; }

.blue-arrow-info {
  font-size: 28px;
  line-height: 35.6px;
  letter-spacing: 3.64px;
  height: 100px;
  float: left; }

.blue-arrow-rotate-90 {
  margin-top: 5px;
  overflow: visible;
  transform-origin: top left 0;
  float: left;
  transform: translate(100%, 0) rotate(90deg); }

.blue-arrow-body-rows {
  padding-right: 10%;
  padding-left: 10%;
  font-family: "John Baskerville Regular"; }

.blue-arrow-body-row {
  font-size: 25px; }

.blue-arrow-body-row + .blue-arrow-body-row {
  margin-top: 20px; }

.blue-arrow-row-header {
  font-family: "Campton";
  font-size: 29px; }

.blue-arrow-categories-container {
  display: inline-flex;
  margin: 0px;
  width: 800px; }

.blue-arrow-category-box {
  position: relative;
  margin: 20px;
  background: #d4ecdf;
  height: 150px;
  width: 150px;
  border: 6px solid;
  border-color: #203B6A; }

.blue-arrow-category-box-line {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 60px;
  width: 0px;
  background: transparent;
  margin-left: 16px;
  margin-bottom: 35px;
  margin-right: 55px;
  margin-top: -10px;
  padding: 0px;
  position: absolute;
  line-height: 50px;
  text-align: center;
  border-right: 5px solid #1f3b6a;
  border-top: none;
  border-bottom: none;
  border-left: none;
  content: " ";
  pointer-events: none; }

.blue-arrow-category-box-text {
  margin-top: 50%;
  font-size: 20px; }

a, a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: none; }

body {
  background: #ffffff;
  color: #203B6A; }

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #d3ecdf; }
