.lead {

}

.blue-arrow-slogan {
  width: 100%;
  height: 20px;
}

.blue-arrow-body-container {
  padding-right: 10%;
  padding-left: 10%;
}

.blue-arrow-body-header-container {
  height: 400px;
  width: 600px;
  padding-right: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.blue-arrow-body-topic-container {
  height: 340px;
  width: 100%;
}

.blue-arrow-body-header {
  font-size: 64px;
  float: left;
  width: 300px;
}

.blue-arrow-info {
  font-size: 28px;
  line-height: 35.6px;
  letter-spacing: 3.64px;
  height: 100px;
  float: left;
}

.blue-arrow-rotate-90 {
  margin-top: 5px;
  overflow: visible;
  transform-origin: top left 0;
  float: left;
  transform: translate(100%, 0) rotate(90deg) ;
}

.blue-arrow-body-rows {
  padding-right: 10%;
  padding-left: 10%;
  font-family: "John Baskerville Regular";
}

.blue-arrow-body-row {
  font-size: 25px;
}

.blue-arrow-body-row + .blue-arrow-body-row {
  margin-top: 20px;
}

.blue-arrow-row-header {
  font-family: "Campton";
  font-size: 29px
}

.blue-arrow-categories-container {
  display: inline-flex;
  margin: 0px;
  width: 800px;
}

.blue-arrow-category-box {
  position: relative;
  margin: 20px;
  background: #d4ecdf;
  height: 150px;
  width: 150px;
  border: 6px solid;
  border-color: $primary-color;
}

.blue-arrow-category-box-line {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  height: 60px;
  width: 0px;
  background: transparent;
  margin-left: 16px;
  margin-bottom: 35px;
  margin-right: 55px;
  margin-top: -10px;
  padding: 0px;
  position: absolute;
  line-height: 50px;
  text-align: center;
  border-right: 5px solid #1f3b6a;
  border-top: none;
  border-bottom: none;
  border-left: none;
  content: " ";
  pointer-events: none;
}

.blue-arrow-category-box-text  {
  margin-top: 50%;
  font-size: 20px;
}

a, a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}