// FIXME These font declarations will break on IE - font conversion
// needed
@font-face {
  font-family: 'Campton';
  src: url('../fonts/Rene_Bieder-Campton_Medium.otf?') format('opentype');
}

h1 {
  text-transform: uppercase;
  font-family : Campton;
  font-weight : bold;
  font-size : 68px;
  line-height : 1.1;
  letter-spacing : 7px;

  // TODO Create underlined wave
  .underlined:after {
    /*height: 10px;
    width: 100px;
    overflow: visible;
    background: url('../img/wave_big-01.svg') left bottom no-repeat;
    content: "";
    display: inline-block;
    bottom: -5px;*/
  }
}

.all-caps {
  text-transform: uppercase;
}